rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regole per 'prenotazioni'
    match /prenotazioni/{document} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.token.email == request.resource.data.email;
      allow update, delete: if request.auth != null && request.auth.token.email == resource.data.emailAdmin;
    }
    
    // Regole per users
    match /users/{userEmail} {
      allow read, write: if request.auth != null && request.auth.token.email == userEmail;
      
      match /tokens/{tokenId} {
        allow read, write: if request.auth != null && request.auth.token.email == userEmail;
      }
    }
    
  } 
}